node_modules
.DS_Store
*.log
*.tmp
.idea
.vscode
*.swp
*.swo
*.bak
*.backup
*.cache
*.dist
*.env
*.local
*.log
*.pid
*.seed
*.sublime-workspace
*.sublime-project
*.zip
*.tar.gz
*.tgz
*.7z
*.rar
*.gz
*.bz2   